* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


.banner-container{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    
}
.banner{
    padding: 15% 100px 0 0;
    text-align: end;
}

.banner-title{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    
    
}

.banner-description{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.btn-contact{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;

}

.btn-contact:hover{
    background-color: darkgrey;
}
main section {
    margin: 100px 230px;
}

       /* failure section  */
.failure{
    display: flex;
    gap: 85px;
    align-items: center;
    /* margin: 50px 230px; */


}

.failure-title{
    color:  #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-destription{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.my-plans{
    text-align: center;
    color:  #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.plan-cantainer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
}

.plan-title{
    color:  #151414;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}
.plan-description{
    color:  #737272;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
}

/* mindset section  */
.mindset{
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%),url('../images/watch.png');
    height: 300px;


   
}

.positive{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-left: 64px;
    padding-top: 50px;
}
.btn{
    color: #005FAC;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: #FFF;
    margin-top: 20px;
    margin-left: 64px;
}

.btn:hover{
    background-color: rgb(149, 246, 246);
}



/* Footer section  */
footer{
    background: #151414;
    margin: 0;
    display: flex;
        gap: 350px;
       
        padding: 130px 230px;

}
.footeri-title{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.footeri-title2{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.footer-dercription,.footer-email, .footer-phone{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1rem;
}

.submit-email{
    margin-top: 30px;
    color: #F3F3F3;
    font-size: 16px;
    font-weight: 400;

}
.btn-2{

    margin-top: 16px;
    width: 170.106px;
    height: 50px;
    border-radius: 8px;
    background: #005FAC;
    color: #FFF;
}

.social-media{
    margin-top:32px;
    width: 175px;
    height: 46px;
}
    





    
    
